﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page - CrowdSisters</title>
    <link rel="icon" href="~/img/CrowdSistersLogoMano.png" type="image/png">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css?v=PBl3qNtJZz6Oz-WIhg7sjTVYk0GrCr762k2GdAtV_EM" />
    <link rel="stylesheet" href="/css/index.css?v=cxwFxy9q0bP2A6fPuf46Iu1Og5FtqIQ4Z3wr2Kxoww0" />
    <link rel="stylesheet" href="/css/global.css?v=LeXFsuf3Z500C2-CETWDCKnyj5FvslpdBQFbQKw-Kps" />
    <link rel="stylesheet" href="/css/desktop.css?v=1BKq0X8peVCoPBonhE7yJwqnWK2h2D73w3UuEd1cWWc" />
    <link rel="stylesheet" href="/CrowdSisters.styles.css?v=49GoNgxPLejrRYb-0NpPp84AZD3CfrEaDCsAbAi6-7I" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" />
    
</head>

<body>
    <div b-i5hh0g375h class="desktop-1">
        <header b-i5hh0g375h class="desktop-1-inner">
            <div b-i5hh0g375h class="frame-parent">
                <div b-i5hh0g375h class="inicia-sesin-regstrate-parent">
                    <div b-i5hh0g375h class="inicia-sesin-regstrate">
                        <a href="@Url.Action("Index", "Proyecto")">
                        <img b-i5hh0g375h class="star-icon" alt="" src="./public/star.svg" />
                        <b b-i5hh0g375h class="button">Descubrir proyectos </b>
                        <img b-i5hh0g375h class="star-icon" alt="" src="./public/x.svg" />
                        </a>
                    </div>
                    @if (string.IsNullOrEmpty(ViewContext.HttpContext.Session.GetString("Username")))
                    {
                        <div b-i5hh0g375h class="inicia-sesin-regstrate-wrapper">
                            <div b-i5hh0g375h class="inicia-sesin-regstrate1">
                                <a href="@Url.Action("Index", "Login")">
                                    <img b-i5hh0g375h class="star-icon" alt="" src="./public/star1.svg" />
                                    <b b-i5hh0g375h class="button">Empieza tu proyecto</b>
                                    <img b-i5hh0g375h class="star-icon" alt="" src="./public/x1.svg" />
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div b-i5hh0g375h class="inicia-sesin-regstrate-wrapper">
                            <div b-i5hh0g375h class="inicia-sesin-regstrate1">
                                <a href="@Url.Action("Index", "CrearProyecto")">
                                    <img b-i5hh0g375h class="star-icon" alt="" src="./public/star1.svg" />
                                    <b b-i5hh0g375h class="button">Empieza tu proyecto</b>
                                    <img b-i5hh0g375h class="star-icon" alt="" src="./public/x1.svg" />
                                </a>
                            </div>
                        </div>
                    }
                    <a href="@Url.Action("Index", "Home")">
                    <img class="logoblanco-icon" loading="lazy" alt="" src="/img/CrowdsistersLogoBlanco2.png" />
                    </a>
                </div>
                <div b-i5hh0g375h class="buscador-parent">
                    <div b-i5hh0g375h class="buscador">
                        <b b-i5hh0g375h class="value">Buscar</b>
                        <div b-i5hh0g375h class="search-wrapper">
                            <img class="search-icon" loading="lazy" alt="" src="/img/lupa.png" />
                        </div>
                    </div>
                    @if (string.IsNullOrEmpty(ViewContext.HttpContext.Session.GetString("Username")))
                    {
                        <div b-i5hh0g375h class="inicia-sesin-regstrate2">
                            <a href="@Url.Action("Index", "Login")">
                                <!-- Ajusta la ruta según tu controlador y acción -->
                                <img class="star-icon" alt="" src="./public/star2.svg" />
                                <b class="button2">Iniciar sesión / Regístrate</b>
                                <img class="star-icon" alt="" src="./public/x2.svg" />
                            </a>
                        </div>
                    }
                    else
                    {

                        <div class="hover-target monedero-container">
                            <input type="hidden" id="userId" value="@ViewContext.HttpContext.Session.GetInt32("IdUsuario")" />
                            <a href="#" onclick="editUser()" class="button2" style="top:-15px;">¡Bienvenida @ViewContext.HttpContext.Session.GetString("Username")! </a>
                            <p class="monedero">Monedero: @ViewContext.HttpContext.Session.GetInt32("Monedero")€ </p>
                        </div>
                        <a href="@Url.Action("Logout", "Login")">
                            <!-- Ajusta la ruta según tu controlador y acción -->
                            <img class="star-icon" alt="" src="./public/star2.svg" />
                            <img class="buttonLogout" alt="" src="~/img/Logout.png" style="width: 30px; height: 30px; margin-top:-33px;" />
                            <img class="star-icon" alt="" src="./public/x2.svg" />
                        </a>
                        
                    }
                </div>
            </div>
        </header>
    </div>

        <main role="main">
            @RenderBody()
        </main>
    
    <section b-i5hh0g375h class="footer">
        <div b-i5hh0g375h class="footer-child"></div>
        <div b-i5hh0g375h class="footer-columns">
            <div b-i5hh0g375h class="first-footer-column">
                <div b-i5hh0g375h class="contctanos">
                    <div b-i5hh0g375h class="descubre-proyectos">
                        <div b-i5hh0g375h class="text-strong">
                            <div b-i5hh0g375h class="text-strong1">Contáctanos</div>
                        </div>
                    </div>
                    <div b-i5hh0g375h class="preguntas-frecuentes">
                        <div b-i5hh0g375h class="list-item">info@crowdsisters.com</div>
                    </div>
                    <div b-i5hh0g375h class="ayuda-para-emprendedoras">
                        <div b-i5hh0g375h class="list-item1">+34 693 209 154</div>
                    </div>
                    <div b-i5hh0g375h class="text-link-list-item">
                        <div b-i5hh0g375h class="list-item2">Canales CrowdSisters</div>
                    </div>
                    <div b-i5hh0g375h class="text-link-list-item">
                        <div b-i5hh0g375h class="list-item2">Salud y Bienestar</div>
                    </div>
                    <div b-i5hh0g375h class="text-link-list-item">
                        <div b-i5hh0g375h class="list-item2">¿Quiénes somos?</div>
                    </div>
                    <div b-i5hh0g375h class="text-link-list-item">
                        <div b-i5hh0g375h class="list-item5">Moda</div>
                    </div>
                    <div b-i5hh0g375h class="text-link-list-item">
                        <div b-i5hh0g375h class="list-item2">Comunitario</div>
                    </div>
                </div>
                <div b-i5hh0g375h class="second-footer-column">
                    <div b-i5hh0g375h class="descubre-proyectos-categora">
                        <div b-i5hh0g375h class="descubre-proyectos">
                            <div b-i5hh0g375h class="text-strong">
                                <div b-i5hh0g375h class="text-strong3">Descubre proyectos</div>
                            </div>
                        </div>
                        <div b-i5hh0g375h class="preguntas-frecuentes">
                            <div b-i5hh0g375h class="list-item7">Ciencia y Tecnología</div>
                        </div>
                        <div b-i5hh0g375h class="ayuda-para-emprendedoras">
                            <div b-i5hh0g375h class="list-item8">Arte y Cultura</div>
                        </div>
                        <div b-i5hh0g375h class="preguntas-frecuentes">
                            <div b-i5hh0g375h class="list-item9">Educación y Formación</div>
                        </div>
                        <div b-i5hh0g375h class="ayuda-para-emprendedoras">
                            <div b-i5hh0g375h class="list-item10">Salud y Bienestar</div>
                        </div>
                        <div b-i5hh0g375h class="ayuda-para-emprendedoras">
                            <div b-i5hh0g375h class="list-item11">Medio Ambiente</div>
                        </div>
                        <div b-i5hh0g375h class="preguntas-frecuentes">
                            <div b-i5hh0g375h class="list-item12">Moda y Diseño</div>
                        </div>
                        <div b-i5hh0g375h class="comunidad">
                            <div b-i5hh0g375h class="list-item13">Comunidad</div>
                        </div>
                    </div>
                    <div b-i5hh0g375h class="descubre-proyectos-categora">
                        <div b-i5hh0g375h class="descubre-proyectos">
                            <div b-i5hh0g375h class="text-strong">
                                <div b-i5hh0g375h class="text-strong3">Conoce CrowdSisters</div>
                            </div>
                        </div>
                        <div b-i5hh0g375h class="ayuda-para-emprendedoras">
                            <div b-i5hh0g375h class="list-item14">Blog de CrowdSisters</div>
                        </div>
                        <div b-i5hh0g375h class="preguntas-frecuentes">
                            <div b-i5hh0g375h class="list-item15">Agenda y Prensa</div>
                        </div>
                        <div b-i5hh0g375h class="preguntas-frecuentes">
                            <div b-i5hh0g375h class="list-item16">Canales CrowdSisters</div>
                        </div>
                        <div b-i5hh0g375h class="text-link-list-item">
                            <div b-i5hh0g375h class="list-item5">Salud y Bienestar</div>
                        </div>
                        <div b-i5hh0g375h class="preguntas-frecuentes">
                            <div b-i5hh0g375h class="list-item18">¿Quiénes somos?</div>
                        </div>
                        <div b-i5hh0g375h class="text-link-list-item">
                            <div b-i5hh0g375h class="list-item5">Moda</div>
                        </div>
                        <div b-i5hh0g375h class="text-link-list-item">
                            <div b-i5hh0g375h class="list-item2">Comunitario</div>
                        </div>
                    </div>
                    <div b-i5hh0g375h class="descubre-proyectos-categora">
                        <div b-i5hh0g375h class="descubre-proyectos">
                            <div b-i5hh0g375h class="text-strong">
                                <div b-i5hh0g375h class="text-strong3">¿Necesitas ayuda?</div>
                            </div>
                        </div>
                        <div b-i5hh0g375h class="ayuda-para-emprendedoras">
                            <div b-i5hh0g375h class="list-item14">Preguntas frecuentes</div>
                        </div>
                        <div b-i5hh0g375h class="preguntas-frecuentes">
                            <div b-i5hh0g375h class="list-item22">Ayuda para emprendedoras</div>
                        </div>
                        <div b-i5hh0g375h class="text-link-list-item">
                            <div b-i5hh0g375h class="list-item2">Canales CrowdSisters</div>
                        </div>
                        <div b-i5hh0g375h class="text-link-list-item">
                            <div b-i5hh0g375h class="list-item2">Salud y Bienestar</div>
                        </div>
                        <div b-i5hh0g375h class="text-link-list-item">
                            <div b-i5hh0g375h class="list-item2">¿Quiénes somos?</div>
                        </div>
                        <div b-i5hh0g375h class="text-link-list-item">
                            <div b-i5hh0g375h class="list-item5">Moda</div>
                        </div>
                        <div b-i5hh0g375h class="text-link-list-item">
                            <div b-i5hh0g375h class="list-item2">Comunitario</div>
                        </div>
                    </div>
                </div>
                <div b-i5hh0g375h class="social-links">
                    <div b-i5hh0g375h class="sguenos">Síguenos</div>
                    <div b-i5hh0g375h class="social-icons">
                        <div b-i5hh0g375h class="logo-x-wrapper">
                            <img class="logo-x-icon" loading="lazy" alt="" src="/img/IconosRedesSociales/Twitter.png" />
                        </div>
                        <img class="linkedin-icon" loading="lazy" alt="" src="/img/IconosRedesSociales/LinkedIn.png" />
                        <img class="linkedin-icon" loading="lazy" alt="" src="/img/IconosRedesSociales/Instagram.png" />

                        <div b-i5hh0g375h class="logo-x-wrapper">
                            <img class="logo-youtube-icon" loading="lazy" alt="" src="/img/IconosRedesSociales/YouTube.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer b-i5hh0g375h class="line-parent">
            <div b-i5hh0g375h class="frame-child"></div>
            <div b-i5hh0g375h class="social-icon-items1">
                <b b-i5hh0g375h class="crowdsisters">© 2024 CrowdSisters </b>
            </div>
        </footer>
    </section>
    
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
    <script>
        function editUser() {
            var userId = document.getElementById("userId").value;
            window.location.href = '@Url.Action("Edit", "Login")' + '/' + userId;
        }
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>